.vscode
/docker/context
/docker/into_noetic_foxy.sh
/docker/failed_trials
/yolov8_seg_track_ros2/launch/__pycache__
/yolov8_seg_ros2/media
/yolov8_seg_track_ros2/yolov8_seg_track_ros2/__pycache__
/yolov8_seg_track_ros2/weights
/bags/rosbag2*
*.pth
*.pt
/yolov8_seg_track_ros2/yolov8_seg_track_ros2/vlsat/3dssg_best_ckpt/mmg_best.pth
/yolov8_seg_track_ros2/yolov8_seg_track_ros2/vlsat/3dssg_best_ckpt/events*